<div class="col s12 m3">
  <div class="collection">
    <%= link_to profile_path, class: 'collection-item' do %>
        <img src="http://placehold.it/300x300" class="responsive-img">
    <% end %>

    <%= link_to contacts_path, class: 'collection-item' do %>
        <%= icon('users', class: 'left') %> Контакты
    <% end %>
    <%= link_to notifications_path, class: 'collection-item' do %>
        <%= icon('info', class: 'left') %> Уведомленя
    <% end %>
    <%= link_to logout_path, class: 'collection-item' do %>
        <%= icon('sign-out', class: 'left') %> Выход
    <% end %>
  </div>
</div>