<div class="col s12 m4 l3">
  <div class="collection z-depth-1">
    <%= link_to profile_path, class: 'collection-item center' do %>
        <img src="http://placehold.it/300x300" class="responsive-img">
    <% end %>

    <%= link_to topics_path, class: 'collection-item' do %>
        <%= icon('hashtag', class: 'left') %> Темы
    <% end %>
    <%= link_to events_path, class: 'collection-item' do %>
        <%= icon('calendar', class: 'left') %> События
    <% end %>
    <%= link_to contacts_path, class: 'collection-item' do %>
        <%= icon('users', class: 'left') %> Контакты
    <% end %>
    <%= link_to notifications_path, class: 'collection-item' do %>
        <%= icon('info', class: 'left') %> Уведомления
    <% end %>
    <%= link_to logout_path, class: 'collection-item', method: :delete do %>
        <%= icon('sign-out', class: 'left') %> Выход
    <% end %>
  </div>
</div>