= form_for(topic, html: { class: 'row', style: 'margin-bottom: 0' }) do |f|
  - if topic.errors.any?
    .error_explanation
      %h4= pluralize(topic.errors.count, 'error') + 'prohibited this topic from being saved:'
      %ul
        - topic.errors.full_messages.each do |message|
          %li= message

  .input-field.col.m6.s12
    = f.text_field :title
    = f.label :title, 'Заголовок'
  .input-field.col.m6.s12
    = f.text_field :color
    = f.label :color, 'Цвет'
  .input-field.col.s12
    = f.text_area :description, class: 'materialize-textarea'
    = f.label :description, 'Описание'
  .input-field.col.s12
    = f.submit 'Сохранить', class: 'btn orange'
    = link_to 'Назад', :back, class: 'btn'