= form_for(notification, html: { class: 'row' }) do |f|
  - if notification.errors.any?
    .error_explanation
      %h4= pluralize(notification.errors.count, 'error') + 'prohibited this notification from being saved:'
      %ul
        - notification.errors.full_messages.each do |message|
          %li= message

  .input-field.col.s12
    = f.text_field :title
    = f.label :title, 'Заголовок'
  .input-field.col.l6.m12
    = f.select(:topic_id) do
      - Topic.all.each do |t|
        = content_tag(:option, t.title, value: t.id)
    = f.label :topic, 'Тема'
  .input-field.col.l6.m12
    = f.text_field :link
    = f.label :link, 'Ссылка'
  .input-field.col.s12
    = f.text_area :text, class: 'materialize-textarea'
    = f.label :text, 'Текст'
  .input-field.col.s12
    = f.text_area :response, class: 'materialize-textarea', disabled: 'disabled'
    = f.label :response
  .input-field.col.s12
    = f.submit 'Сохранить', class: 'btn orange'
    = link_to 'Назад', :back, class: 'btn'
