<%= form_for(notification, html: {class: 'row'}) do |f| %>
    <% if notification.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(notification.errors.count, "error") %> prohibited this micropost from being saved:</h4>

          <ul>
            <% notification.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="input-field col l6 s12">
      <%= f.text_field :title %>
      <%= f.label :title %>
    </div>

    <div class="input-field col l6 s12">
      <%= f.text_field :link %>
      <%= f.label :link %>
    </div>

    <div class="input-field col s12">
      <%= f.text_area :text, class: 'materialize-textarea' %>
      <%= f.label :text %>
    </div>

    <div class="input-field col s12">
      <%= f.submit 'Save', class: 'btn' %>
    </div>
<% end %>
