= link_to icon('plus'), new_notification_path, class: 'btn-floating btn-large waves-effect waves-light right red', style: 'margin-top: -50px'
- if notifications.empty?
  %p У Вас еще нет созданных уведомлений.
- else
  %table
    - notifications.each do |n|
      %tr
        %td= n.title
        %td= n.topic.title
        %td= n.link
        %td.right
          = link_to icon('pencil'), edit_notification_path(n), class: 'btn orange'
          = link_to icon('trash-o'), n, class: 'btn red', method: :delete