<div class="section light-blue" style="min-height: 240px"></div>

<div class="container" style="margin-top: -150px">
  <div class="row">
    <%= render('dashboard/menu') %>
    <div class="col s12 m8 l9">
      <nav style="margin-top: 0.5rem">
        <div class="nav-wrapper">
          <div class="col s12">
            <%= link_to icon('home'), root_path, class: 'breadcrumb' %>
            <%= link_to 'Уведомления', notifications_path, class: 'breadcrumb' %>
          </div>
        </div>
      </nav>

      <div class="card-panel">
        <%= link_to icon('plus'), new_notification_path, class: 'btn-floating btn-large waves-effect waves-light right red', style: 'margin-top: -50px' %>
        <% if @notifications.empty? %>
          <p>You haven't notifications yet.</p>
        <% else %>
          <table class="stripped">
            <% @notifications.each do |notification| %>
                <tr>
                  <td><%= notification.text %></td>
                  <td><%= notification.link %></td>
                  <td><%= notification.response %></td>
                  <td class="right">
                    <%= link_to icon('search'), notification_path(notification), class: 'btn'%>
                    <%= link_to icon('trash-o'), notification_path(notification), class: 'btn red', method: :delete %>
                  </td>
                </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>