= form_for(event, html: { class: 'row' }) do |f|
  - if event.errors.any?
    .error_explanation
      %h4= pluralize(event.errors.count, 'error') + 'prohibited this event from being saved:'
      %ul
        - event.errors.full_messages.each do |message|
          %li= message

  .input-field.col.l6.m12
    = f.datetime_select :date
    = f.label :date
  .input-field.col.l6.m12
    = f.select(:topic_id) do
      - Topic.all.each do |t|
        = content_tag(:option, t.title, value: t.id)
    = f.label :topic
  .input-field.col.s12
    = f.text_field :title
    = f.label :title
  .input-field.col.s12
    = f.text_area :description, class: 'materialize-textarea'
    = f.label :description
  .input-field.col.s12
    = f.submit 'Save', class: 'btn orange'
    = link_to 'Back', :back, class: 'btn'
