= link_to icon('plus'), new_event_path, class: 'btn-floating btn-large waves-effect waves-light right red', style: 'margin-top: -50px'
- if events.empty?
  %p У Вас еще нет созданных событий.
- else
  %table.striped
    %thead
      %tr
        %th Дата/Время
        %th Тема
        %th Заголовок
    %tbody        
      - events.each do |event|
        %tr
          %td= "#{event.date.strftime("%d.%m")} #{event.time}"
          %td= event.topic.title
          %td= event.title
          %td.right
            = link_to icon('pencil'), edit_event_path(event), class: 'btn orange'
            = link_to icon('trash-o'), event, class: 'btn red', method: :delete, data: { confirm: 'Вы уверены?' }