= link_to icon('plus'), new_event_path, class: 'btn-floating btn-large waves-effect waves-light right red', style: 'margin-top: -50px'
- if events.empty?
  %p You haven't events yet.
- else
  %table.striped
    - events.each do |event|
      %tr
        %td= event.date
        %td= event.topic.title
        %td= event.title
        %td= event.description
        %td.right
          = link_to icon('pencil'), edit_event_path(event), class: 'btn orange'
          = link_to icon('trash-o'), event, class: 'btn red', method: :delete