<div class="section no-pad-bot light-blue" id="index-banner" style="min-height: 93vh">
  <div style="position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);padding: 0 50px;    width: 100%;
      text-align: center;">
    <h1 class="header center white-text">Simple Loyalty</h1>
    <div class="row center">
      <h5 class="header col s12 white-text light">Площадка для запуска программы лояльности</h5>
    </div>
    <div class="row center">
      <%= link_to 'Get Started', new_user_session_path, class: 'btn-large waves-effect waves-light orange' %>
    </div>
    <div class="row">
      <%= link_to icon('chevron-down'), '#!', class: 'btn-flat waves-effect waves-light white-text scroll-to btn-floating btn-large', data: { to: '#features'}  %>
    </div>
  </div>
</div>

<div class="container">
  <div class="section" id="features">
    <div class="row"></div>

    <div class="row">
      <div class="col l5 m12">
        <div class="card-panel light-blue white-text" style="margin-bottom:0">
          <h5>Web-cервис</h5>
          <h6>Рабочее место маркетолога</h6>
        </div>
        <div class="card-panel" style="margin-top:0">
          <ul>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span class="valign">Планирование и проведение маркетинговых кампаний</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span class="valign">Настройка параметров компании</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span class="valign">Создание персонализированных Push-уведомлений</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span class="valign">Учет и ведение клиентских данных</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span class="valign">Возможность модернизации до полноценной корпоративной CRM системы</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col l7 m12 center">
        <%= image_tag('web-application.png', :class => 'responsive-img') %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col l7 m12 center">
        <%= image_tag('mobile-application.png', :class => 'responsive-img') %>
      </div>
      <div class="col l5 m12">
        <div class="card-panel light-blue white-text" style="margin-bottom:0">
          <h5>Мобильное приложение</h5>
        </div>
        <div class="card-panel" style="margin-top:0">
          <ul>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span class="valign">Цифровая карта лояльности - универсальна и всегда при себе</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span>Получение контактных данных клиентов и потенциальных клиентов, при первом запуске приложения</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span>Возможность загрузки приложения через Google Play или QR-код</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span>Отображение Push-уведомлений</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span>Возможноть импорта и показа промо изображений</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span>Возможность модернизации до кроссплатформенного многофункционального приложения</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col l5 m12">
        <div class="card-panel light-blue white-text" style="margin-bottom:0">
          <h5>Адаптация 1С</h5>
        </div>
        <div class="card-panel" style="margin-top:0">
          <ul>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span>Настройка интеграции с веб-кабинетом маркетолога</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span>Настройка функционала для группировки и фиксации временных скидок по выбранным позициям/категориям</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span>Точечная настройка механики учета скидок с использованием цифровой карты</span>
            </li>
            <li class="valign-wrapper">
              <%= image_tag 'icons/heart-blue.png', class: 'valign' %>
              <span>В зависимости от конфигурации и версии 1С могут потребоваться дополнительные настройки</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col l7 m12 center">
        <%= image_tag('notebook-application.png', :class => 'responsive-img') %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col l4 m12">
        <div class="card-panel center">
          <%= image_tag 'icons/cog.png' %>
          <h5>Легкая интеграция c Вашей системой</h5>
        </div>
      </div>
      <div class="col l4 m12">
        <div class="card-panel center">
          <%= image_tag 'icons/gift.png' %>
          <h5>Мобильный телефон вместо карты</h5>
        </div>
      </div>
      <div class="col l4 m12">
        <div class="card-panel center">
          <%= image_tag 'icons/comment.png' %>
          <h5>Канал коммуникации с клиентом</h5>
        </div>
      </div>
    </div>
  </div>
</div>