<div class="section no-pad-bot light-blue" id="index-banner" style="min-height: 93vh">
  <div class="hero">
    <h1 class="header center white-text">Simple Loyalty</h1>
    <div class="row center">
      <h5 class="header col s12 white-text light">Площадка для запуска программы лояльности</h5>
    </div>
    <div class="row center">
      <%= link_to 'Начать', login_path, class: 'btn-large waves-effect waves-light orange' %>
    </div>
    <div class="row">
      <%= link_to icon('chevron-down'), '#!', class: 'btn-flat waves-effect waves-light white-text scroll-to btn-floating btn-large', data: { to: '#features'}  %>
    </div>
  </div>
</div>

<div class="container">
  <div class="section" id="features">
    <div class="row"></div>

    <div class="row">
      <div class="col l5 m12">
        <blockquote>
          <h4>Web-cервис</h4>
          <h5>Рабочее место маркетолога</h5>
        </blockquote>
        <ul class="collection features">
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Планирование и проведение маркетинговых кампаний</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Настройка параметров компании</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Создание персонализированных Push-уведомлений</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Массовые уведомления (приглашения на сезонные скидки, мероприятия, промо-акции)</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Автоматические точечные уведомления (предоставление скидки в день рождения)</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Учет и ведение клиентских данных</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Возможность модернизации до корпоративной CRM системы</li>
        </ul>
      </div>
      <div class="col l7 m12 center">
        <%= image_tag('web-application.png', :class => 'responsive-img') %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col l7 m12 center">
        <%= image_tag('mobile-application.png', :class => 'responsive-img') %>
      </div>
      <div class="col l5 m12">
        <blockquote>
          <h4>Мобильное приложение</h4>
        </blockquote>
        <ul class="collection features">
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Цифровая карта лояльности - универсальна и всегда при себе</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Настройка параметров компанииПолучение контактных данных клиентов и потенциальных клиентов, при первом запуске приложения</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Возможность загрузки приложения через Google Play или QR-код</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Отображение Push-уведомлений</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Возможноть импорта и показа промо изображений</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Возможность модернизации до кроссплатформенного многофункционального приложения</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col l5 m12">
        <blockquote>
          <h4>Адаптация 1С</h4>
        </blockquote>
        <ul class="collection features">
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Настройка интеграции с веб-кабинетом маркетолога</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Настройка функционала для группировки и фиксации временных скидок по выбранным позициям/категориям</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>Точечная настройка механики учета скидок с использованием цифровой карты</li>
          <li class="collection-item"><%= icon('circle-thin', class: 'left') %>В зависимости от конфигурации и версии 1С могут потребоваться дополнительные настройки</li>

        </ul>
      </div>
      <div class="col l7 m12 center">
        <%= image_tag('notebook-application.png', :class => 'responsive-img') %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col l4 m12 center">
        <%= image_tag 'icons/cog.png' %>
        <h5>Легкая интеграция c Вашей системой</h5>
      </div>
      <div class="col l4 m12 center">
        <%= image_tag 'icons/gift.png' %>
        <h5>Мобильный телефон вместо карты</h5>
      </div>
      <div class="col l4 m12 center">
        <%= image_tag 'icons/comment.png' %>
        <h5>Канал коммуникации с клиентом</h5>
      </div>
    </div>
  </div>
</div>