.section.light-blue{ style: 'min-height: 240px'}

.container{ style: 'margin-top: -150px'}
  .row
    = render('dashboard/menu')
    .col.s12.m8.l9
      %nav{style: 'margin-top: 0.5rem'}
        .nav-wrapper
          .col.s12
            = link_to icon('home'), root_path, class: 'breadcrumb'
            = link_to 'Контакты', contacts_path, class: 'breadcrumb'
            = link_to 'Редактирование', edit_contact_path(@contact), class: 'breadcrumb'

      .card-panel
        = render 'form', contact: @contact

      .col.s12
        %ul.tabs
          %li.tab.col.s6
            %a{ href: '#notifications' } Уведомления
          %li.tab.col.s6
            %a{ href: '#topics' } Подписки

      .col.s12#notifications{ style: 'padding: 0' }
        .card-panel
          = render 'notifications/grid', notifications: @contact.notifications
      .col.s12#topics{ style: 'padding: 0' }
        .card-panel
          = render 'subscribes/grid', subscribes: @contact.subscribes