<div class="section light-blue" style="min-height: 240px"></div>

<div class="container" style="margin-top: -150px">
  <div class="row">
    <%= render('dashboard/menu') %>
    <div class="col s12 m9">
      <div class="card-panel">
        <div class="row" style="margin-bottom: 0">
          <div class="col s12">
            <table class="highlight">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th width="250"></th>
                </tr>
              </thead>

              <tbody>
                <% current_user.contacts.each do |contact| %>
                  <tr>
                    <td><%= contact.id %></td>
                    <td><%= contact.name %></td>
                    <td><%= contact.phone %></td>
                    <td>
                      <%= link_to icon('pencil'), edit_contact_path(contact), class: 'btn orange white-text' %>
                      <%= link_to icon('trash-o'), contact_path(contact), class: 'btn red white-text', method: :delete, data: { confirm: 'Вы уверены?' } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>