<div class="section light-blue" style="min-height: 240px"></div>

<div class="container" style="margin-top: -150px">
  <div class="row">
    <%= render('dashboard/menu') %>
    <div class="col s12 m8 l9"><nav style="margin-top: 0.5rem">
      <div class="nav-wrapper">
        <div class="col s12">
          <%= link_to icon('home'), root_path, class: 'breadcrumb' %>
          <%= link_to 'Контакты', contacts_path, class: 'breadcrumb' %>
        </div>
      </div>
    </nav>
      <div class="card-panel">
        <div class="row" style="margin-bottom: 0">
          <div class="col s12">
            <% if current_user.contacts.empty? %>
                <p>You haven't contacts yet.</p>
            <% else %>
                <table class="stripped">
                  <% current_user.contacts.each do |contact| %>
                      <tr>
                        <td><%= contact.name %></td>
                        <td><%= contact.phone %></td>
                        <td><%= contact.token %></td>
                        <td class="right">
                          <%= link_to icon('search'), contact_path(contact), class: 'btn'%>
                          <%= link_to icon('trash-o'), contact_path(contact), class: 'btn red', method: :delete %>
                        </td>
                      </tr>
                  <% end %>
                </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>