<div class="navbar-fixed">
  <nav class="light-blue z-depth-0" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to 'Simple.tech', root_path, id: 'logo-container', class: 'brand-logo' %>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to 'Profile', profile_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
          <li><%= link_to 'Notifications', notifications_path %></li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <% if user_signed_in? %>
            <li><%= link_to 'Profile', profile_path %></li>
            <li><%= link_to 'Contacts', contacts_path %></li>
            <li><%= link_to 'Notifications', notifications_path %></li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><%= icon('bars') %></a>
    </div>
  </nav>
</div>
