.navbar-fixed
  %nav.light-blue.z-depth-0{ role: 'navigation' }
    .nav-wrapper.container
      = link_to 'Simpletech', root_path, id: 'logo-container', class: 'brand-logo'
      %ul.right.hide-on-med-and-down
        - if user_signed_in?
          %li= link_to icon('user'), profile_path
          %li= link_to icon('hashtag'), topics_path
          %li= link_to icon('calendar'), events_path
          %li= link_to icon('users'), contacts_path
          %li= link_to icon('info'), notifications_path
          %li= link_to icon('sign-out'), logout_path, method: :delete
        - else
          %li= link_to icon('sign-in'), login_path
      %ul.side-nav#nav-mobile
        - if user_signed_in?
          %li= link_to 'Профиль', profile_path
          %li= link_to 'Темы', topics_path
          %li= link_to 'События', events_path
          %li= link_to 'Контакты', contacts_path
          %li= link_to 'Уведомления', notifications_path
          %li= link_to 'Выход', logout_path, method: :delete
        - else
          %li= link_to 'Вход', login_path
      %a.button-collapse{ href:'', data: {:activates => 'nav-mobile'}}= icon('bars')